<div class="container mt-5 mb 5">

    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ratione qui nostrum cupiditate aliquid reiciendis, voluptas porro distinctio ipsa id odio ad reprehenderit eum dolore illo aperiam nobis totam dolor.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ratione qui nostrum cupiditate aliquid reiciendis, voluptas porro distinctio ipsa id odio ad reprehenderit eum dolore illo aperiam nobis totam dolor.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ratione qui nostrum cupiditate aliquid reiciendis, voluptas porro distinctio ipsa id odio ad reprehenderit eum dolore illo aperiam nobis totam dolor.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident enim rerum expedita officia iusto autem accusamus non dolorum veritatis laboriosam esse repellendus corporis ad, ipsam vel? Non, ut! Animi, omnis!
        <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium possimus hic numquam praesentium, aliquam, voluptas doloremque amet reprehenderit vero quo dignissimos iusto ducimus facere eum eos. Corporis minima nam beatae.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatibus quo inventore tempora hic fuga provident ullam eveniet nesciunt velit suscipit quae ducimus, consequatur quibusdam delectus ratione consequuntur iure laboriosam.
        <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit culpa rem amet at quos possimus laboriosam atque aspernatur, error facilis commodi nostrum odio quis sunt quisquam eos doloremque labore fugiat.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic omnis distinctio quo soluta. Et vel error reprehenderit quis sit totam delectus expedita obcaecati, voluptatibus adipisci modi, eum autem officia voluptatum.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam animi iusto, at reprehenderit totam enim explicabo deserunt. Veritatis ipsa enim qui vel magni minus, eius eum aut aliquid mollitia nisi?
        <br>
    </p>

</div>